<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <h1>Register</h1>
    <form action="/user/changepw" method="post">
        <div class="form-group">

            <div>
                <label for="id">ID</label>
                <input type="text" id="id" name="id" placeholder="당신의 ID를 입력하세요.">
            </div>

            <div>
                <label for="change_pw">Change PW</label>
                <input type="text" id="change_pw" name="change_pw" placeholder="변경할 PW를 입력하세요.">
            </div>

            <div>
                <label for="check_pw">Check PW</label>
                <input type="text" id="check_pw" name="check_pw" placeholder="비밀번호를 확인하세요.">
            </div>

        </div>
        <button type="submit">전송</button>
    </form>
</div> <!-- /container -->
</body>
</html>