<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <h1>Login</h1>
    <form action="/user/login" method="post">
        <div class="form-group">
            <div>
                <label for="login_id">ID</label>
                <input type="text" id="login_id" name="login_id" placeholder="ID를 입력하세요.">
            </div>

            <div>
                <label for="login_pw">PW</label>
                <input type="text" id="login_pw" name="login_pw" placeholder="PW를 입력하세요.">
            </div>
        </div>
        <button type="submit">전송</button>
    </form>
</div> <!-- /container -->
</body>
</html>